<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    .container {
        padding: 16px;
    }

    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: #474e5d;
        padding-top: 50px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #f1f1f1;
    }

    .close:hover,
    .close:focus {
        color: #f44336;
        cursor: pointer;
    }

    .input {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    .input:focus {
        background-color: #ddd;
        outline: none;
    }

    .clearfix{
        display: flex;
        justify-content: space-around;
    }
    .custom-select-sp select{
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        background-color: #f1f1f1;
        border: none;
        appearance: none;
    }
</style>
<h2>Bill Management</h2>
<div style="text-align: center;">
    <input type="text" id="myInput" onkeyup="search_table_hd()" placeholder="Finding ..." title="Type in a name">
</div>
<table id="myTable">
    <tr class="header">
        <th>No.</th>
        <th>Account ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Phone Number</th>
        <th>Total</th>
        <th>Purchased Date</th>
        <th>Note</th>
        <th>Status</th>
        <th colspan="3">Done</th>
    </tr>
    <% dataHd.forEach((data) => { %>
    <tr>
        <td><%= Stt +=1 %></td>
        <td><%= data.IDTK %></td>
        <td><%= data.TenKH %></td>
        <td><%= data.DiaChi %></td>
        <td><%= data.SDT %></td>
        <td><%= data.TongTien %>$</td>
        <td>
            <%= data.NgayMua %>
        </td>
        <td><%= data.GhiChu %></td>
        <td style="color: <% if(data.TrangThai == 2){ %> #8acf18 <% } else if(data.TrangThai == 3){ %> #fe7c21 <% } %>;">
            <%= data.TenTT %>
        </td>
        <td>
            <button onclick="document.getElementById('detail<%= data.ID %>').style.display='block'" style="width:auto;">More Information</button>
            <div id="detail<%= data.ID %>" class="modal">
                <span onclick="document.getElementById('detail<%= data.ID %>').style.display='none'" class="close" title="Close Modal">&times;</span>
                <div class="modal-content">
                    <div class="container">
                        <h1 style="text-align:center;">Bill</h1>
                        <table id="myTable_bottom" style="margin-bottom: 10px;">
                            <tr class="header_bottom">
                                <th>No.</th>
                                <th>Account ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Phone Number</th>
                                <th>Total</th>
                                <th>Purchased Date</th>
                                <th>Note</th>
                                <th>Status</th>
                            </tr>
                            <tr>
                                <td><%= Stt %></td>
                                <td><%= data.IDTK %></td>
                                <td><%= data.TenKH %></td>
                                <td><%= data.DiaChi %></td>
                                <td><%= data.SDT %></td>
                                <td><%= data.TongTien %>$</td>
                                <td>
                                    <%= data.NgayMua %>
                                </td>
                                <td><%= data.GhiChu %></td>
                                <td><%= data.TenTT %></td>
                            </tr>
                        </table>
                        <hr>
                        <h3 style="text-align:center;">More Information</h3>
                        <table id="myTable_bottom" style="margin-bottom: 10px;">
                            <tr class="header_bottom">
                                <th>No.</th>
                                <th>Product ID</th>
                                <th>Product</th>
                                <th>Image</th>
                                <th>Origin</th>
                                <th>Cost</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                            <% dem = 0; dataCthd.forEach((datacthd) => { 
                                if(data.ID == datacthd.ID_HoaDon) { %>
                                <tr>
                                    <td><%= dem += 1 %></td>
                                    <td><%= datacthd.IDSanPham %></td>
                                    <td><%= datacthd.TenSanPham %></td>
                                    <td>
                                        <img src="/admin/image/<%= datacthd.imgName %>" alt="" style="max-width: 60px">  
                                    </td>
                                    <td><%= datacthd.XuatXu %></td>
                                    <td><%= datacthd.GiaBan %></td>
                                    <td><%= datacthd.SoLuong %></td>
                                    <td><%= datacthd.ThanhTien %>$</td>
                                </tr>
                               <% }
                             }) %>
                        </table>
                        <div class="clearfix">
                            <button type="button" onclick="document.getElementById('detail<%= data.ID %>').style.display='none'" class="cancelbtn">Close</button>
                            <!-- <button type="submit" class="CUDbtn">Xóa</button> -->
                        </div>
                    </div>
                </div>
                
            </div>
        </td>
        <% if(data.TrangThai == 2 || data.TrangThai == 3){ %> 

             <% } else { %> 
                <td><a href="/admin/hoa-don/nhan/<%= data.ID %>"><button>Received</button></a></td>
        <td><a href="/admin/hoa-don/huy/<%= data.ID %>"><button>Cancelled</button></a></td>
                 <% } %>
        
    </tr>
    <% }) %>
</table>