<h2>Customer Accounts</h2>
<div style="text-align: center;">
    <input type="text" id="myInput" onkeyup="search_table()" placeholder="Search username ..." title="Type in a name">
</div>
<table id="myTable">
    <tr class="header">
        <th>ID</th>
        <th>Account Name</th>
        <th>Status</th>
        <th>Sign up Date</th>
        <th>Bills</th>
        <th>Actions</th>
    </tr>
    <% dataUser.forEach((data) => { %>
    <tr>
        <td><%= data.ID %></td>
        <td><%= data.TenTK %></td>
        <td><%= data.TrangThai %></td>
        <td><%= data.NgayDK %></td>
        <td><a href="/admin/user/san-pham-da-mua/<%= data.ID %>">View</a></td>
        <% if (data.TrangThai == 0) { %>
        <td><a href="/admin/user/unlock/<%= data.ID %>">Open Account</a></td>
        <% }else { %>
        <td><a href="/admin/user/lockup/<%= data.ID %>">Lock Account</a></td>
        <% } %>
    </tr>
    <% }) %>
</table>