<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    .container {
        padding: 16px;
    }

    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: #474e5d;
        padding-top: 50px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #f1f1f1;
    }

    .close:hover,
    .close:focus {
        color: #f44336;
        cursor: pointer;
    }

    .input {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    .input:focus {
        background-color: #ddd;
        outline: none;
    }

    .clearfix{
        display: flex;
        justify-content: space-around;
    }
</style>
<h2>Manage origin of product</h2>
<div style="text-align: center;">
    <input type="text" id="myInput" onkeyup="search_table_xx()" placeholder="Search for names.."
        title="Type in a name">
    <button onclick="document.getElementById('create').style.display='block'" style="width:auto;">Add origin</button>
</div>

<table id="myTable">
    <tr class="header">
        <th>STT</th>
        <th>ID</th>
        <th>Origin</th>
        <th>Added Date</th>
        <th>Updated Date</th>
        <th>Available</th>
        <th colspan="2" class="cog"><i class="fa fa-cog" aria-hidden="true"></i></th>
    </tr>
    <% dataXx.forEach((data)=>{ %>
        <tr>
            <td>
                <%= SttXx +=1 %>
            </td>
            <td>
                <%= data.ID %>
            </td>
            <td>
                <%= data.XuatXu %>
            </td>
            <td>
                <%= data.NgayThem %>
            </td>
            <td>
                <%= data.update_at %>
            </td>                           
            <% if (data.showw == 0) { %>
            <td style="color: #fe7c21;">No</td>
            <% }else { %>
            <td style="color: #8acf18;">Yes</td>
            <% } %>
            <td  class="cog">
                <button onclick="document.getElementById('update<%= data.ID %>').style.display='block'" style="width:auto;">Change</button>
                <div id="update<%= data.ID %>" class="modal">
                    <span onclick="document.getElementById('update<%= data.ID %>').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <form class="modal-content" action="/admin/xuat-xu-san-pham/update/<%= data.ID %>" method="post">
                        <div class="container">
                            <h1 style="text-align:center;">Change</h1>
                            <hr>
                            <label for=""><b>Origin: </b></label>
                            <input class="input" type="text" placeholder="Input origin" name="nameXx" value="<%= data.XuatXu %>" required>
                            <div class="clearfix">
                                <button type="button" onclick="document.getElementById('update<%= data.ID %>').style.display='none'" class="cancelbtn">Exit</button>
                                <button type="submit" class="CUDbtn">Change</button>
                            </div>
                        </div>
                    </form>
                </div>
            </td>
            <% if (data.showw == 0) { %>
            <td><button><a style="color: #8acf18;" href="/admin/xuat-xu-san-pham/show/<%= data.ID %>">Show</a></button></td>
            <% }else { %>
            <td><button><a style="color: #fe7c21;" href="/admin/xuat-xu-san-pham/hidden/<%= data.ID %>">Hide</a></button></td>
            <% } %>
        </tr>
        <% }) %>
</table>

<div id="create" class="modal">
    <span onclick="document.getElementById('create').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form class="modal-content" action="/admin/xuat-xu-san-pham/create" method="post">
        <div class="container">
            <h1 style="text-align:center;">Add origin</h1>
            <hr>
            <label for=""><b>Origin: </b></label>
            <input class="input" type="text" placeholder="Input origin" name="nameXx" required>
            <div class="clearfix">
                <button type="button" onclick="document.getElementById('create').style.display='none'" class="cancelbtn">Exit</button>
                <button type="submit" class="CUDbtn">Add</button>
            </div>
        </div>
    </form>
</div>

<!-- <div id="del" class="modal">
    <span onclick="document.getElementById('del').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form class="modal-content" action="/admin/xuat-xu-san-pham/delete" method="post">
        <div class="container">
            <h1 style="text-align:center;">Thêm sản phẩm</h1>
            <hr>
            <label for=""><b>Tên loại sản phẩm: </b></label>
            <input class="input" type="text" placeholder="Nhập tên loại sản phẩm" name="nameLsp" required>
            <div class="clearfix">
                <button type="button" onclick="document.getElementById('del').style.display='none'" class="cancelbtn">Thoát</button>
                <button type="submit" class="CUDbtn">Thêm</button>
            </div>
        </div>
    </form>
</div> -->